{
  "oauth": {
    "clientId": "{{ GOOGLE_OAUTH_CLIENT_ID }}.apps.googleusercontent.com",
    "redirectPath": "/oauth/callback",
    "authorizationEndpoint": "https://accounts.google.com/o/oauth2/v2/auth",
    "scopes": ["openid", "profile", "email", "https://www.googleapis.com/auth/calendar.readonly"]
  }
}
